@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-size: 18px;
    font-family: "Public Sans", sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul li {
    @apply cursor-pointer hover:text-LimeGreen;
}
nav ul li {
    @apply relative;
}
nav ul li:hover {
    @apply text-DarkBlue;
}
nav ul li::before {
    @apply content-[""] absolute -bottom-5 h-[5px] w-0 bg-gradient-to-r from-LimeGreen to-BrightCyan duration-500;
}
nav ul li:hover::before {
    @apply w-full;
}
svg path {
    @apply hover:fill-LimeGreen;
}

@layer components {
    :has(h1, h2, h3, h4, h5, h6) {
        @apply text-DarkBlue;
    }
    p,
    span {
        @apply text-GrayishBlue;
    }
    .padding-x {
        @apply px-10 sm:px-16 lg:px-24 xl:px-28;
    }
    .text-align {
        @apply text-center lg:text-left;
    }
    .responsive-grid {
        @apply grid lg:grid-cols-4 gap-y-16 sm:grid-cols-2 sm:grid-rows-2 sm:gap-y-8 lg:grid-rows-none;
    }
}
